@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #1e293b;
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: system-ui, sans-serif;
}

/* checkbox */
.switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* loader animation */

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #0369a1;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}

/* no content animation */

.empty-icon-container{
  margin:1em auto;
  text-align:center;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;

}
.animation-container{
  position:relative;
  display:block;
  text-align: center;
  height:100px;
  width:100px;
  border-bottom: solid 2px #333;
  overflow:hidden;
}
.bounce{
  display: inline-block;
  position:absolute;
  bottom:0;
  left:50%;
  width:40px;
  height:40px;
  margin-left: -20px;
  background-size: contain;
  animation: bounceAnim 1s cubic-bezier(.63,.09,.75,.46) infinite alternate,
            spinAnim 3s linear infinite;
}

@keyframes bounceAnim{
  0%, 10% { bottom: 50%; }

  100% { bottom: 0%; }
}
@keyframes spinAnim{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pebble1{
  position:absolute;
  top:95%;
  background-color:#333;
  width:10px;
  height:10px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 1s linear infinite;
}
.pebble2{
  position:absolute;
  top:97%;
  background-color:#333;
  width:5px;
  height:5px;
  border-radius: 10px 10px 0px 0px;
  animation: pebblesAnim 2s linear infinite;
}
.pebble3{
  position:absolute;
  top:98%;
  background-color:#333;
  width:3px;
  height:3px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 3s linear infinite;
}

@keyframes pebblesAnim{
  0% { right: -20%; }
  100% { right: 110%; }
}
